.div1 {
    width: 30%;
    height: 555px;
    background-color:red;
    border: 1px solid black;
    clear: both;
	text-align:left;
	margin-left:25%;
	

}
.div2{
	width: 95%;
    height: 21px;
    background-color:pink;
    border: 1px solid white;
	margin-left:2.5%;
	margin-top:1%;
}

.div3{
	width: 95%;
    height: 21px;
    background-color:pink;
    border: 1px solid white;
	margin-left:2.5%;
	margin-top:1%;
}
.div4{
	width: 95%;
    height: 21px;
    background-color:pink;
    border: 1px solid white;
	margin-left:2.5%;
	margin-top:1%;
}
#input{
	margin-left:20%;
}
